<div [ngSwitch]="group.type">
  <div *ngSwitchCase=0>
    <a routerLink="/groups/{{group.key}}">{{group.name}}</a>
    <button class="pull-right" (click)="delete()">&times;</button>
  </div>
  <div *ngSwitchDefault>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td id="content">
            <a routerLink="/groups/{{group.key}}">{{group.name}}</a>
          </td>
          <td id="edit" (click)="edit()">
            <span class="pull-right">edit</span>
          </td>
          <td id="delete" (click)="delete()">
            <span class="pull-right">&times;</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
