<ng-container *ngFor="let todoTitlesOfGroup of todoTitlesOfGroups">
  <h3 mat-subheader *ngIf="todoTitlesOfGroup.todoTitles.length">
    {{todoTitlesOfGroup.group}}
  </h3>
  <div fxLayout="row wrap">
    <div fxFlex="10" fxFlex.sm="12.5" fxFlex.xs="20" *ngFor="let todoTitle of todoTitlesOfGroup.todoTitles" class="tile">
      <mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile (click)="openDialog(todoTitle)">
          <div class="title">{{todoTitle.title}}</div>
          <app-sharing-todo [todoTitle]="todoTitle"></app-sharing-todo>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</ng-container>
