<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo</a>
    </div>
    <div class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="auth.authenticated$ | async">
          <a>Hello {{ auth.name$ | async }}</a>
        </li>
        <li *ngIf="!(auth.authenticated$ | async)">
          <a (click)="login()">Login</a>
        </li>
        <li *ngIf="auth.authenticated$ | async">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
