<div class="container">
  <mat-toolbar color="primary">
    <h1 routerLink="/" onfocus="this.blur();">Todo</h1>
    <span class="spacer"></span>
    <ng-container *ngIf="auth.authenticated$ | async">
      <span>{{ auth.name$ | async }}</span>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!(auth.authenticated$ | async)" (click)="login()">
        <span>Login</span>
      </button>
      <button mat-menu-item *ngIf="auth.authenticated$ | async" (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" fixedInViewport fixedTopGap="56">
      <ng-container *ngIf="auth.authenticated$ | async">
        <app-mygroup></app-mygroup>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngIf="auth.authenticated$ | async">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Tab 1">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">list</mat-icon>
              <span class="tab-text">All</span>
            </ng-template>
            <app-todo-all></app-todo-all>
          </mat-tab>

          <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">folder</mat-icon>
              <span class="tab-text">Group</span>
            </ng-template>
            <div class="tab-content">
              <button mat-raised-button (click)="sidenav.toggle()">
                Select Group
              </button>
            </div>
            <router-outlet></router-outlet>
          </mat-tab>

          <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">done_all</mat-icon>
              <span class="tab-text">Completed</span>
            </ng-template>
            <app-todo-completed></app-todo-completed>
          </mat-tab>

        </mat-tab-group>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
