<h2 mat-dialog-title cdkFocusInitial>{{ header }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Todo" id="title" type="text" [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Group" [(ngModel)]="groupKey" (selectionChange)="setGroupMembers();">
      <mat-option *ngFor="let group of groups" [value]="group.key">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Assignee" [(ngModel)]="assignee">
      <mat-option *ngFor="let member of members" [value]="member.key">
        {{member.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Due" id="due" type="datetime-local" step=300 [(ngModel)]="due">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Repeat" [(ngModel)]="repeatType">
      <mat-option [value]=0>No</mat-option>
      <mat-option [value]=1>Due Date</mat-option>
      <mat-option [value]=2>Completion Date</mat-option>
    </mat-select>
  </mat-form-field>

  <table cellspacing="0" *ngIf="repeatType !== 0">
    <tr>
      <td>
        <mat-form-field style="width:40px !important;">
          <mat-select [(ngModel)]="repeatInterval">
            <mat-option *ngFor="let num of intervals" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width:135px !important;">
          <mat-select [(ngModel)]="repeatUnit">
            <mat-option [value]="'days'">days</mat-option>
            <mat-option [value]="'weeks'">weeks</mat-option>
            <mat-option [value]="'months'">months</mat-option>
            <mat-option [value]="'years'">years</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <ng-container *ngIf="data.type === 'create'">
    <span class="spacer"></span>
    <button mat-icon-button (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="data.type === 'edit'">
    <span class="spacer"></span>
    <button mat-icon-button (click)="update()">
      <mat-icon>check</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button [disabled]="repeatType === 0" (click)="skip()">
      <mat-icon>redo</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
  <span class="spacer"></span>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>clear</mat-icon>
  </button>
  <span class="spacer"></span>
</mat-dialog-actions>
