<button type="button" class="btn btn-primary" (click)="openModal(add)">Add Group</button>

<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/">All</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/completed">Completed</a>
  </li>
  <li class="list-group-item" *ngFor="let group of groups">
    <app-group-item [group]="group" (onUpdate)="updateGroup($event)" (onDelete)="deleteGroup($event)" (onEdit)="editGroup($event); openModal(edit)"></app-group-item>
  </li>
</ul>

<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-group-form (submit)="addGroup($event)"></app-group-form>
  </div>
</ng-template>

<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-group-edit [group]="selected" (edited)="onEdited($event)"></app-group-edit>
  </div>
</ng-template>
